{#
/**
 * template 3xW v.3.7.0
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <?= $this->Html->link('<i class="material-icons">list</i> '.__('List'),['action'=>'index'], ['class' => '','escape'=>false]) ?>
      </li>
    </ul>
  </div>
</nav>
<div class="utils--spacer-semi"></div>
<div class="row no-gutters">
  <div class="col-11 mx-auto">
    <div class="card">
      <?= $this->Form->create(${{ singularVar }}) ?>
      <?php $this->Form->setTemplates(['dateWidget' => {{'"{{day}}{{month}}{{year}}{{hour}}{{minute}}"'}}]);?>
      <div class="card-header">
        <h2><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
{% for field in fields if field %}
{%- set fieldData = Bake.columnData(field, schema) %}
{%- if fieldData.type == 'string'%}
            <?= $this->Form->control('{{ field }}',['class'=>'form-control']);?>
            {{- "\n" }}
{%- endif %}
{%- if fieldData.type == 'text'%}
            <?= $this->element('Trois/Tinymce.tinymce',[
              'field' => '{{ field }}',
              'value' =>{% if 'add' not in action %} ${{singularVar}}->{{ field }}{% else %} ''{% endif %},
              'init' => [
                'label' => __('{{ field |capitalize }}')
              ]
            ]) ?>
            {{- "\n" }}
{%- endif %}
{%- endfor %}
{%- if associations.BelongsToMany %}
    {%- for assocName, assocData in associations.BelongsToMany %}
    {%- if assocData.property == 'attachments' %}
            <?= $this->Attachment->input('Attachments',[
              'label' => __('Medias'),
              'types' =>[
                'application/pdf',
                'application/msword',
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                'application/vnd.ms-excel',
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                'image/jpeg',
                'image/png',
                'embed/youtube',
                'embed/vimeo'
              ],
              'atags' => [],
              'cols' => 'col-xs-6 col-md-6 col-lg-4',
              'maxquantity' => -1,
              'restrictions' => [
                Attachment\View\Helper\AttachmentHelper::TAG_RESTRICTED,
                Attachment\View\Helper\AttachmentHelper::TYPES_RESTRICTED
                ],
              'attachments' =>{% if 'add' not in action %} (${{singularVar}}->attachments)? ${{singularVar}}->attachments : []{% else %} []{% endif %},
            ]);?>
{{- "\n" }}
{%- else %}
            <?= $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}, 'class'=>'form-control']);?>
{{- "\n" }}
{%- endif %}
    {%- endfor %}
{% endif %}
          </div>
          <div class="col-sm-4">
{% for field in fields if field not in primaryKey %}
  {%- if keyFields[field] %}
    {%- set fieldData = Bake.columnData(field, schema) %}
    {%- if field == 'attachment_id' %}
            <?= $this->Attachment->input('attachment_id',[
              'label' => __('Media'),
              'types' =>['image/jpeg','image/png'],
              'atags' => [],
              'cols' => 'col-xs-6 col-md-6 col-lg-4',
              'maxquantity' => 1,
              'restrictions' => [
                Attachment\View\Helper\AttachmentHelper::TAG_RESTRICTED,
                Attachment\View\Helper\AttachmentHelper::TYPES_RESTRICTED
                ],
                'attachments' =>{% if 'add' not in action %} (${{singularVar}}->attachment)? [${{singularVar}}->attachment] : []{% else %} []{% endif %},
              ]
            );?>
      {{- "\n" }}
      {%- elseif fieldData.null %}
            <?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true, 'class'=>'form-control']);?>
      {{- "\n" }}
      {%- else %}
            <?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'class'=>'form-control']);?>
      {{- "\n" }}
      {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated'] %}
      {%- set fieldData = Bake.columnData(field, schema) %}
      {%- if fieldData.type in ['date', 'datetime', 'time'] %}
            <?= $this->Form->control('{{ field }}', ['class'=>'form-control']);?>
      {{- "\n" }}
      {%- elseif fieldData.type in ['integer', 'float', 'boolean'] %}
            <?= $this->Form->control('{{ field }}', ['class'=>'form-control']);?>
      {{- "\n" }}
      {%- endif %}
    {%- endif %}
{%- endfor %}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-right">
          <div class="btn-group">
            <?= $this->Html->link(__('Cancel'), $referer, ['class' => 'btn btn-danger btn-fill']) ?>
            <?= $this->Form->button(__('Submit'), ['class' => 'btn btn-info btn-fill']) ?>
          </div>
        </div>
      </div>
      <?= $this->Form->end() ?>
  </div>
</div>
</div>
<div class="utils--spacer-default"></div>
