{#
/**
 * template 3xW v.3.5.5
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <?= '<i class="material-icons">mode_edit</i> '.__('{{ action|humanize }}')?>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <?= $this->Html->link('<i class="material-icons">list</i> '.__('List'),['action'=>'index'], ['class' => '','escape'=>false]) ?>
      </li>
    </ul>
  </div>
</nav>
<div class="utils--spacer-default"></div>
<div class="row no-gutters">
  <div class="col-11 mx-auto">
    <div class="card">
      <?= $this->Form->create(${{ singularVar }}) ?>
      <div class="card-header">
        <h2><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></h2>
      </div>
      <hr>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
{% for field in fields if field %}
{%- set fieldData = Bake.columnData(field, schema) %}
{%- if fieldData.type in ['text', 'string']%}
            <?= $this->Form->control('{{ field }}',['class'=>'form-control']);?>
            {{- "\n" }}
{%- endif %}
{%- endfor %}
          </div>
          <div class="col-sm-4">
{% for field in fields if field not in primaryKey %}
  {%- if keyFields[field] %}
    {%- set fieldData = Bake.columnData(field, schema) %}
      {%- if fieldData.null %}
            <?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true, 'class'=>'form-control']);?>
      {{- "\n" }}
      {%- else %}
            <?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'class'=>'form-control']);?>
      {{- "\n" }}
      {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated'] %}
      {%- set fieldData = Bake.columnData(field, schema) %}
      {%- if fieldData.type in ['date', 'datetime', 'time'] %}
            <?= $this->Form->control('{{ field }}', ['empty' => true]);?>
      {{- "\n" }}
      {%- endif %}
    {%- endif %}
{%- endfor %}
          </div>
        </div>
      </div>
      <hr>
      <div class="card-footer">
        <div class="text-right">
          <div class="btn-group">
            <?= $this->Html->link(__('Cancel'), $referer, ['class' => 'btn btn-danger btn-fill']) ?>
            <?= $this->Form->button(__('Submit'), ['class' => 'btn btn-info btn-fill']) ?>
          </div>
        </div>
      </div>
      <?= $this->Form->end() ?>
  </div>
</div>
</div>
<div class="utils--spacer-default"></div>
